workflows/GitHub AI Assistant.json
{
  "name": "GitHub AI Release Notes",
  "nodes": [
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "YOUR_GITHUB_OWNER",
          "mode": "list"
        },
        "repository": {
          "__rl": true,
          "value": "YOUR_GITHUB_REPO",
          "mode": "list",
          "cachedResultName": "YOUR_GITHUB_REPO",
          "cachedResultUrl": "https://github.com/YOUR_GITHUB_OWNER/YOUR_GITHUB_REPO"
        },
        "events": [
          "push"
        ],
        "options": {
          "insecureSSL": false
        }
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        -16
      ],
      "id": "97de8291-d3d5-4fc0-9d25-31cd7fa5890e",
      "name": "Github Trigger",
      "webhookId": "7fecbc9b-1e1e-4a0f-b102-9b74b99534ac",
      "credentials": {
        "githubApi": {
          "id": "YOUR_GITHUB_CREDENTIAL_ID",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "resource": "repository",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_GITHUB_OWNER"
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_GITHUB_REPO"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        160,
        -16
      ],
      "id": "6a9a2e63-25f6-4862-9c2b-20dc64b8de25",
      "name": "Get a repository",
      "webhookId": "a17385ee-7c17-44af-8b44-496b7a7a811c",
      "credentials": {
        "githubApi": {
          "id": "YOUR_GITHUB_CREDENTIAL_ID",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Github Trigger').item.json.body.repository.owner.login }}/{{ $('Github Trigger').item.json.body.repository.name }}/commits/{{ $('Github Trigger').item.json.body.after }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        16
      ],
      "id": "de6b8072-affc-41b1-869b-81065d040c69",
      "name": "HTTP Request",
      "credentials": {
        "githubApi": {
          "id": "YOUR_GITHUB_CREDENTIAL_ID",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.files.map(f => f.filename).join(\"\\n\")}}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a senior software engineer.\n\nRepository: {{$json.url}}\n\nCommit message: {{$json.commit.message}}\n\nChanged files:\n{{JSON.stringify($json.files, null, 2)}}\n\nGenerate professional Markdown release notes:\n# Summary\n# Files Changed\n# Improvements\n# Potential Risks\n# Suggested Tests"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        688,
        16
      ],
      "id": "1579a4f7-7f96-4f17-a5f0-188a08b00964",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        816,
        352
      ],
      "id": "d416bb96-fa7f-40b1-8333-8ab3f9b48fd1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ \"🚀 GitHub Commit Analysis\\n\\n\" + $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        976,
        32
      ],
      "id": "168f62a4-6147-4e38-b318-9779e8d840e8",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Github Trigger": {
      "main": [
        [
          {
            "node": "Get a repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a repository": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "d734e147-5d9b-4c71-b8cd-3688d5d10313",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  },
  "nodeGroups": [],
  "id": "nbughuC5AiCeAPZF",
  "tags": []
}